<div class="d-flex">
  <!-- Sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gifs App</h3>
    <hr class="text-white" />
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    </div>
  </div>
  <!-- End Sidebar  -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Search:</h5>
        <input type="text" class="form-control" placeholder="Search gifs..." />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis
        ab accusamus totam. Exercitationem impedit ipsam nostrum corporis
        dolorum, ea officia. Reiciendis facere inventore cum. Iste est maiores
        dolor et.
      </div>
    </div>
  </div>
</div>
