<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar  -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Search:</h5>
        <input type="text" class="form-control" placeholder="Search gifs..." />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis
        ab accusamus totam. Exercitationem impedit ipsam nostrum corporis
        dolorum, ea officia. Reiciendis facere inventore cum. Iste est maiores
        dolor et.
      </div>
    </div>
  </div>
</div>
